* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

html,body {
    width: 100%;
    height: 100%;
}

.nav-bar {
    background-color: black;
    display: flex;
    height: 60px;
}

.nav-bar  > .nav-ul{
    display: flex;
}

.nav-ul > li {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    padding: 20px;
    list-style: none;
    color: white;
}

.nav-ul > li:hover {
    background-color: white;
    color: black;
    transition: .5s;
    border-radius: 3px;
}


.toggle-btn {
    position: relative;
    width: 75.80%;
    right: 20px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.toggle-label {
    display: inline-block;
    width: 90px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
}

.toggle-ball {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 20px;
    margin-left: 5px;
    margin-top: 5px;
    transition: .3s;
}

#checkbox {
    visibility: hidden;
}

#checkbox:checked + .toggle-label .toggle-ball {
    transform: translateX(40px);
}

#checkbox:checked + .toggle-label {
    background-color: black;
}


#checkbox:checked + .toggle-label .toggle-ball{
    background-color: white;
}

/* dark-mode */
body.dark-mode-active {
    background-color: black;
}

body.dark-mode-active .nav-ul li:hover {
    background-color: black;
    color: white;
}

body.dark-mode-active .nav-ul li {
    color: black;
}

body.dark-mode-active .nav-bar {
    background-color: white;
    transition: .5s;
}